body {
    background-color: #E9EBEE;
}
#my-nav {
    background-color: #4267b2;
    color: white;
    margin-bottom: 10px;
    height: 42px;
}

#brand{
    color: white;
}
#my-nav a{
    color: white !important;
}
.added-width{
    min-width: 450px;
}
#dark-color span{
    color: #0d1325;
    font-size: 20px;
}
.list-heading {
    padding: 20px 15px 0 15px;
}
section {
    padding: 0 !important;
}
.wrapper section{
    height: 800px;
}
.txt-clr > li > a{
    color: black;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.panel {
    margin-bottom: 8px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.img-post{
    margin-bottom: 15px;
}
.comments-toolkit{
    margin-top: 5px;
}
.comments-toolkit span{
    margin-left: 5px;
}
.comment-box{
  width: 100%;
  border-radius: 10px;
  height: 32px;
  color: grey;
  border: 0 !important;
}
.comment-box:focus{
  border: none !important;
  box-shadow: none !important;
  outline: none;
}
/*.post-section, .ads{*/
    /*height: 800px;*/
    /*background-color: white;*/
/*}*/
.post-section{
    margin-right: 10px;
    margin-left: 10px;
}
footer{
    height: 42px;
    background-color: ;
    margin-top: 10px;
}
.badge-l {
  background-color: #E9EBEE;
  color: #90949c;
}
.navbar-form {
  margin-top: -8px;
  height: 24px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
.icon-fb {
    font-size: xx-large;
    padding: 6px 0 0 46px !important;
    position: relative;
    bottom: 12px;
}
#gi-user{
  color: white !important;
}
.notify-badge {
    position: absolute;
    right: 2px;
    top: 10px;
    background: red;
    text-align: center;
    color: white !important;
    height: 16px;
    width: 12px;
    font-size: 11px !important;
    z-index: 2;
}
.dp{
  border-radius: 50%;
  height: 28px;
  width: 28px;
  position: relative;
  bottom: 4px;
}
.dp-comment {
  height: 32px;
  width: 32px;
  position: relative;
  bottom: 3px;
}
.panel-title{
  display: inline;
}
.dp-panel{
  height: 42px;
  width: 42px;
  position: relative;
  /*bottom: 3px;*/
}
hr{
  margin-top: 0;
}
.post-time{
  position: relative;
  left: 15px
}
.post-name{
  color: #23527c;
}
.profile{
  height: 52px;
  width: 52px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(64, 128, 255);
}
.p{
  text-align: center;
}
.birth{
  margin-left: 15px;
}
.bgclr{
  background: white;
}
.lang{
  position: relative;
  top: 10px;
}
.foot{
  position:relative;
  left: 10px;
}
.loader{
  position: relative;
  left: 45%;
}
